$sidebar-width: 17.4rem;
$input-color: #e0e0e0;
$modal-border: rgba(1, 88, 155, 0.6);
$box-shadow: 3px 3px 4px 4px rgba(0, 0, 0, 0.2);
$base-color: #3f51b5;
$form-card-size: calc((100vw - 280px) * 0.6);
$form-text-color: #6C737F;
